@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

////////////////////////
* {
    box-sizing: border-box;
}

////////////////////////
@media screen and (max-width: 700px) {

    ////////////////////////
    .controler-text {
        color: rgb(86, 157, 210);
        font-weight: bold;
    }

    ////////////////////////
    .mark_type1 {
        font-weight: bold;
    }

    ////////////////////////
    .title_section {
        grid-column: 1/3;
        grid-row: 1;
        position: relative;
        width: 100%;
        height: 300px;
        padding: 50px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            color: #39454b;
            font-size: calc(1.5vw + 20px);
        }

        .subtitle {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: calc(1vw + 12px);
        }
    }

    ////////////////////////
    nav {
        display: none;
        visibility: hidden;
    }

    ////////////////////////
    .menu {
        display: block;
        visibility: visible;
        position: fixed;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 75vw;
        background-color: rgb(255, 255, 255);
        border-left: 1px solid rgb(204, 204, 204);
        backdrop-filter: blur(3px);
        z-index: 10;

        .container {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .option {
                transition: all 0.2s;

                &:hover {
                    transition: all 0.2s;
                    cursor: pointer;
                    text-decoration: underline;
                }

                a {
                    color: black;
                    text-decoration: none;
                }
            }

            nav {
                width: 60px;
                height: 60px;
                background-color: rgba(255, 255, 255, 0.387);
                backdrop-filter: blur(2px);
                position: float;
                top: 0px;
                left: -60px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 10;
                border: none;
                border-radius: 0px 0px 0px 10px;
                padding: 5px;
                overflow: hidden;

                .burger-menu-icon {
                    width: 60%;
                    height: 60%;
                    display: block;
                    visibility: visible;
                    transition: all 0.2s;
                    filter: invert(0.2);

                    &:hover {
                        transition: all 0.2s;
                        cursor: pointer;
                        transform: scale(1.02);
                    }
                }

                .left {
                    display: none;
                    visibility: hidden;
                }

                .right {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }

    ////////////////////////
    .menu-close {
        @extend .menu;
        animation-iteration-count: 1;
        animation: close-menu 0.5s;
        animation-fill-mode: forwards;

    }

    ////////////////////////
    @keyframes close-menu {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    ////////////////////////
    .menu-open {
        @extend .menu;
        animation-iteration-count: 1;
        animation: open-menu 0.5s;
        animation-fill-mode: forwards;
    }

    ////////////////////////
    @keyframes open-menu {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    ////////////////////////
    .primary-container {
        position: relative;
        width: 100vw;
        height: 100vh; 
        overflow-x: hidden;

        ////////////////////////
        .section_1 {
            position: relative;
            // pointer-events: none;
            width: 100vw;
            height: 100vh;
            // margin-top: 100vh;
            overflow: hidden;
            z-index: 2;
        }

        ////////////////////////
        .section_1_background {
            // z-index: 1;
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0px;
            left: 0px;
            overflow: hidden;
            background: rgb(219, 242, 255);
            background: linear-gradient(173deg, rgba(219, 242, 255, 1) 0%, rgba(220, 235, 241, 1) 32%, rgba(249, 249, 249, 1) 49%, rgba(246, 246, 246, 1) 100%);
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 70% 30%;
            padding-top: 100px;

            .mosaicos {
                z-index: 1;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

                .box {
                    width: 100%;
                    height: 100%;
                    border: 2px solid rgba(0, 0, 0, 0.024);

                    &:nth-child(1) {
                        animation-iteration-count: 1;
                        animation: 10s slide_bottom;
                        animation-fill-mode: forwards;
                        grid-column: 1/3;
                        grid-row: 1/8;
                        background-color: rgba(255, 255, 255, 0.346);
                    }

                    &:nth-child(2) {
                        animation-iteration-count: 1;
                        animation: 9s slide_bottom;
                        animation-fill-mode: forwards;
                        grid-column: 3;
                        grid-row: 1/6;
                        background-color: rgba(255, 255, 255, 0.583);
                    }

                    &:nth-child(3) {
                        animation-iteration-count: 1;
                        animation: 8s slide_bottom;
                        animation-fill-mode: forwards;
                        grid-column: 4/6;
                        grid-row: 1/5;
                        background-color: rgba(255, 255, 255, 0.146);
                    }

                    &:nth-child(4) {
                        animation-iteration-count: 1;
                        animation: 7s slide_bottom;
                        animation-fill-mode: forwards;
                        grid-column: 6/8;
                        grid-row: 1/7;
                    }

                    //Aplicar este estilo del hijo 5 al 13
                    &:nth-child(n+5):nth-child(-n+13) {
                        display: none;
                        visibility: hidden;
                    }

                    @keyframes slide_bottom {
                        0% {
                            transform: translateY(-100%);
                        }

                        100% {
                            transform: translateY(0%);
                        }
                    }
                }
            }

            .left {
                z-index: 2;
                grid-column: 1/3;
                grid-row: 1;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;

                .title {
                    margin-top: 10%;
                    margin-left: 0px;
                    color: rgb(98, 164, 215);
                    font-size: calc(1.5vw + 20px);
                    font-weight: bold;
                }

                .encabezado {
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
                    margin-left: 0px;
                    font-size: calc(0.9vw + 16px);
                    color: rgb(67, 67, 67);
                }

                .toAction {
                    user-select: none;
                    position: relative;
                    margin-top: 40px;
                    margin-left: 0px;
                    max-width: 200px;
                    z-index: 30;
                    padding: 10px 20px;
                    background-color: rgb(41, 92, 131);
                    z-index: 9999;
                    color: white;
                    border-radius: 5px;
                    @include center();

                    .focus {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: 9999;
                    }
                }

                .question {
                    margin-top: 40px;
                    margin-left: 0px;
                    color: rgb(0, 0, 0);
                    font-size: calc(0.9vw + 16px);
                    font-weight: bold;

                    .toForm {
                        color: rgb(98, 164, 215);
                    }
                }
            }

            .right {
                display: none;
                visibility: hidden;
            }

            .center_bottom {
                margin-top: 10px;
                grid-column: 1/3;
                grid-row: 2;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                justify-content: center;

                .sistema {
                    width: 60px;
                    height: 60px;
                    margin: auto;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    color: rgb(82, 134, 174);
                    font-size: 0.7em;
                    font-weight: bold;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.038);

                    &:nth-child(1),
                    &:nth-child(3),
                    &:nth-child(5) {
                        display: none;
                        visibility: hidden;
                    }

                    .logo {
                        position: absolute;
                        min-width: 35px;
                        min-height: 35px;
                        opacity: 0.4;
                    }

                    &:hover {
                        transition: 0.2s all;
                        transform: scale(1.1);
                    }
                }
            }
        }

        ////////////////////////
        .section_2 {
            margin-top: 50px;
            position: relative;
            width: 100vw;
            height: min-content;
            background-color: white;
            z-index: 2;
            display: block;
            padding: 0px 0px 100px 0px;

            .left,
            .right {
                width: 100%;
                height: 100%;
                @include center();
                text-align: justify;
                font-family: 'Roboto', sans-serif;
                font-size: 1.1em;
                overflow: hidden;
                z-index: 2;
            }

            .left {
                .content-animation-border {
                    padding: 2px 2px 2px 0px;
                    border-radius: 0px 5px 5px 0px;

                    .content {
                        padding: 50px 20px 20px 20px;
                        border-radius: 0px 5px 5px 0px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        background-color: rgb(255, 255, 255);

                        .header-title {
                            font-family: 'Mukta', sans-serif;
                            color: rgb(66, 66, 66);
                            font-size: calc(1.3vw + 14px);
                            font-weight: bold;
                            margin-bottom: 5px;
                        }

                        .title {
                            font-family: 'Mukta', sans-serif;
                            color: rgb(98, 164, 215);
                            font-size: calc(1.5vw + 20px);
                            font-weight: bold;
                            margin-bottom: 10px;
                        }

                        .normal-text {
                            font-size: calc(1vw + 12px);
                            letter-spacing: 0.05em;
                        }

                        flex-direction: column;
                        grid-column: 1;
                        align-items: baseline;
                    }
                }
            }

            .right {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 2;

                .alertas2 {
                    width: 50%;
                    height: auto;
                    height: max-content;
                }
            }

            .bloque-patron {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 60%;
                z-index: 1;
                height: 60%;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.17'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
        }

        ////////////////////////
        .section_3 {
            display: none;
            visibility: hidden;
        }

        ////////////////////////
        .section_4 {
            position: relative;
            width: 99vw;
            border-top: 5px dashed rgb(108, 161, 202);
            min-height: 90vh;
            height: min-content;
            padding-bottom: 50px;
            background-color: white;
            background-image: url("../../../assets/background_section4.svg");
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 2;
            display: flex;
            flex-direction: column;

            .title_section {
                grid-column: 1/3;
                grid-row: 1;
                position: relative;
                width: 100%;
                height: min-content;
                margin: 0px;
                margin: 50px 0px;
                padding: 0px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .title {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: justify;
                    font-weight: bold;
                    color: #39454b;
                    font-size: calc(1.5vw + 20px);
                }

                .subtitle {
                    font-size: calc(1vw + 12px);
                }
            }

            .left {
                display: none;
                visibility: hidden;

                .alerta-img {
                    display: none;
                    visibility: hidden;
                }
            }

            .right {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 2;
                width: 100%;
                height: 100%;
                padding: 0px 20px;

                .lista {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    gap: 20px;
                    flex-direction: column;
                    overflow: hidden;

                    .detalle1-image {
                        display: none;
                        visibility: hidden;
                    }

                    .elemento {
                        width: 100%;
                        text-wrap: wrap;
                        display: flex;
                        align-items: center;
                        background-color: rgb(217, 232, 239);
                        border-radius: 5px;
                        padding: 10px 20px;
                        box-sizing: border-box;

                        .option {
                            margin-left: 20px;
                            font-size: calc(1vw + 12px);
                            letter-spacing: 0.05em;
                            color: rgb(37, 106, 175);
                        }
                    }
                }
            }
        }

        ////////////////////////
        .section_5 {
            position: relative;
            width: 100vw;
            min-height: 90vh;
            height: min-content;
            background-color: rgb(53, 123, 181);
            z-index: 2;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content: center;
            margin: 0px;
            padding: 0px;
            padding-bottom: 50px;

            .title_section {
                z-index: 2;
                margin-top: 0px;
                margin-bottom: 0px;
                height: min-content;
                padding-bottom: 50px;

                .title {
                    color: white;

                }

                .subtitle {
                    color: white;
                }
            }

            .container-center {
                width: 100%;
                height: 100%;
                margin: 0px;
                background-color: rgb(53, 123, 181);
                background-color: none;
                display: flex;
                flex-direction: column;

                .ventaja {
                    box-sizing: border-box;
                    background-color: rgb(255, 255, 255);
                    border: 5px solid rgb(53, 123, 181);
                    width: 100%;
                    height: 100%;
                    margin: 20px 0px;
                    transition: 0.2 all;
                    @include center();
                    flex-direction: column;

                    .detalle2 {
                        display: none;
                        visibility: hidden;
                    }

                    .title {
                        font-family: 'Mukta', sans-serif;
                        color: rgb(98, 164, 215);
                        font-size: calc(1vw + 16px);
                        font-weight: bold;
                        margin: 10px 0px;
                        text-align: center;
                    }

                    .content {
                        display: none;
                        visibility: hidden;
                    }

                    &:hover {
                        transition: 0.5s all;
                        transform: scale(1.01);
                        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.071);
                    }
                }

                .container-center_left {
                    background-color: rgb(53, 123, 181);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }

                .container-center_right {
                    background-color: rgb(53, 123, 181);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        ////////////////////////
        .section_6 {
            position: relative;
            width: 100vw;
            min-height: 90vh;
            height: min-content;
            background-color: white;
            overflow: hidden;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0px;

            .title_section {
                display: none;
                visibility: hidden;
            }

            .container-primary {
                width: 100%;
                min-height: 80vh;
                height: min-content;
                position: relative;
                padding: 0px 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .bloque-patron {
                    z-index: 1;
                    position: absolute;
                    width: 60%;
                    height: 40%;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.17'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }

                .left {
                    width: 100%;
                    z-index: 2;
                    background-color: white;
                    padding: 50px auto;

                    .header-title {
                        font-family: 'Mukta', sans-serif;
                        color: rgb(66, 66, 66);
                        font-size: calc(1.3vw + 14px);
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    .title {
                        font-family: 'Raleway', sans-serif;
                        color: rgb(98, 164, 215);
                        font-size: calc(1.5vw + 20px);
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    .normal-text {
                        font-family: 'Raleway', sans-serif;
                        font-size: calc(1vw + 12px);
                        letter-spacing: 0.05em;
                    }

                    .toAction {
                        margin: 30px 0px;
                        max-width: 500px;
                        min-width: 250px;
                        width: min-content;
                        padding: 10px 20px;
                        text-wrap: nowrap;
                        background-color: rgb(41, 92, 131);
                        color: white;
                        border-radius: 5px;
                        @include center();
                        transition: all 0.2s;

                        &:hover {
                            transition: all 0.2s;
                            cursor: pointer;
                            transform: scale(1.02);
                        }
                    }
                }

                .left:nth-child(2) {
                    padding-left: 50px;
                }
            }

            .container-primary:nth-child(3) {
                display: flex;
                border-top: 5px dashed rgb(108, 161, 202);
                margin-top: 20px;
                padding-top: 20px;
                flex-direction: column-reverse;
            }

            .right {
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90vw;
                height: 70vw;
                padding: 5%;
                box-sizing: border-box;
                overflow: hidden;

                .content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    box-sizing: border-box;
                    overflow: hidden;
                    height: 80%;
                    border-radius: 10px;

                    img {
                        width: 40%;
                        height: auto;
                    }
                }
            }

            .right:nth-child(0) {
                border-radius: 20px;
            }
        }


        ////////////////////////
        .section_7 {
            position: relative;
            width: 100vw;
            height: min-content;
            padding: 50px 0px;
            background-color: rgb(243, 243, 243);
            z-index: 2;
            @include center();

            .title_section {
                .subtitle {
                    text-align: center;
                }
            }

            .center {
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 200px;

                img {
                    filter: grayscale(1);
                    width: 40%;
                    height: auto;
                    max-width: 150px;
                    max-height: 150px;
                }

                img:nth-child(2) {
                    width: 60%;
                    height: auto;
                    max-width: 150px;
                    max-height: 150px;
                }
            }
        }

        ////////////////////////
        .section_8 {
            position: relative;
            width: 100vw;
            min-height: 30vh;
            height: min-content;
            overflow: hidden;
            background-color: #333333;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .title {
                grid-column: 1;
                width: 100%;
                height: min-content;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                font-size: calc(1vw + 14px);
            }

            .copyright {
                width: 100%;
                text-align: center;
                color: rgb(255, 255, 255);
                margin: 3px;
                font-weight: bold;
            }

            .credits {
                color: rgb(180, 180, 180);
                margin: 3px;
                position: absolute;
                bottom: 3px;
                left: 50%;
                transform: translateX(-50%);
                font-weight: bold;
            }

            .content {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .line {
                    width: 100%;
                    height: 2px;
                    background-color: rgba(255, 255, 255, 0.518);
                }

                .redes {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 45px;
                        height: 45px;
                        filter: invert(0.6);
                    }
                }
            }
        }

        ////////////////////////
        .section_9 {
            position: relative;
            width: 100vw;
            min-height: 90vh;
            height: min-content;
            border-top: 5px dashed rgb(108, 161, 202);
            background-color: white;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: baseline;

            .title_section {
                margin-top: 0px;
                margin-bottom: 0px;
                height: min-content;
                padding-bottom: 30px;

                .title {
                    text-align: center;
                }

                .subtitle {
                    display: none;
                    visibility: hidden;
                }
            }

            .content {
                position: relative;
                height: min-content;
                display: block;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;

                &:nth-child(2) {
                    display: flex;
                    flex-direction: column-reverse;
                }

                .bloque-patron {
                    z-index: 1;
                    position: absolute;
                    width: 60%;
                    height: 40%;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.17'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }

                .left {
                    width: 100%;
                    height: 100%;
                    @include center();
                    padding: 20px;

                    .content {
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        box-sizing: border-box;
                        overflow: hidden;
                        height: 80%;
                        border-radius: 10px;

                        img {
                            width: 70%;
                            overflow: hidden;
                            border-radius: 10px;
                            height: auto;
                        }
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: min-content;
                    background-color: white;
                    padding: 20px;
                    z-index: 2;

                    .subtitle {
                        font-family: 'Mukta', sans-serif;
                        color: rgb(66, 66, 66);
                        font-size: calc(1vw + 12px);
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    .title {
                        font-family: 'Mukta', sans-serif;
                        color: rgb(98, 164, 215);
                        font-size: calc(1.5vw + 20px);
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .normal-text {
                        font-size: calc(1vw + 12px);
                        letter-spacing: 0.05em;
                    }
                }
            }
        }
    }
}