@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controler-text {
    color: rgb(86, 157, 210);
    font-weight: bold;
}

.mark_type1 {
    font-weight: bold;
    text-decoration: underline;
}

.title_section {
    grid-column: 1/3;
    grid-row: 1;
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: rgb(255, 255, 255);
    padding: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-size: calc(0.7vw + 9px);
    }
}

* {
    box-sizing: border-box;
}

.primary-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    // Section_1
    .section_1_background {
        position: fixed;
        width: 99vw;
        height: 90vh;
        top: 0px;
        left: 0px;
        overflow: hidden;
        background: rgb(219, 242, 255);
        background: linear-gradient(173deg, rgba(219, 242, 255, 1) 0%, rgba(220, 235, 241, 1) 32%, rgba(249, 249, 249, 1) 49%, rgba(246, 246, 246, 1) 100%);
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 70% 30%;
        padding-top: 100px;

        .left {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .title {
                margin-left: 10%;
                color: rgb(98, 164, 215);
                font-size: calc(0.8vw + 12px);
                font-weight: bold;

            }

            .encabezado {
                margin-top: 80px;
                margin-left: 10%;
                font-size: 1.5em;
                color: rgb(67, 67, 67);
            }
        }

        .right {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 90%;
                height: 90%;
                animation: 10s border-img ease-in-out infinite;
            }

            @keyframes border-img {
                0% {
                    border-radius: 80% 20% 83% 17% / 14% 73% 27% 86%;
                }

                20% {
                    border-radius: 49% 51% 89% 11% / 41% 89% 11% 59%
                }

                60% {
                    border-radius: 21% 79% 46% 54% / 59% 37% 63% 41%;
                }

                80% {
                    border-radius: 10% 90% 22% 78% / 75% 22% 78% 25%;
                }

                100% {
                    border-radius: 80% 20% 83% 17% / 14% 73% 27% 86%;
                }
            }
        }

        .center_bottom {
            margin-top: 10px;
            grid-column: 1/3;
            grid-row: 2;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

            .sistema {
                width: 100%;
                height: min-content;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                color: rgb(82, 134, 174);
                font-size: 1.2em;
                font-weight: bold;

                .logo {
                    margin-top: 20px;
                    min-width: 35px;
                    min-height: 35px;
                    filter: invert(0.4);
                }

                &:hover {
                    transition: 0.2s all;
                    transform: scale(1.1);
                }
            }
        }
    }

    .section_1 {
        position: relative;
        width: 100vw;
        height: 90vh;
        overflow: hidden;
        z-index: 2;


        nav {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 10px 50px;
            height: 50px;
            margin-top: 10px;

            .left {
                width: 200px;
                height: 50px;

                img {
                    filter: invert(0.6);
                    height: 90%;
                    width: auto;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 50px;

                .btn-contact {
                    padding: 15px 15px;
                    border-radius: 5px;
                    font-size: 0.9em;
                    background-color: rgb(41, 92, 131);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    cursor: pointer;
                    transition: 0.2s all;

                    &:hover {
                        transform: scale(1.1);
                        background-color: rgb(55, 111, 154);
                    }
                }

                .simple_button {
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }
        }
    }

    //Separador
    .separador_1 {
        position: absolute;
        top: -100px;
        left: 0px;
        width: 99vw;
        height: 100px;
        background: rgb(246, 246, 246);
        z-index: 2;
        background: linear-gradient(177deg, rgba(246, 246, 246, 0) 0%, rgba(246, 246, 246, 0) 45%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 1) 100%);
    }

    // Section 2
    .section_2 {
        margin-top: 50px;
        position: relative;
        width: 99vw;
        height: 100vh;
        background-color: white;
        z-index: 2;
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0px 0px 100px 0px;

        .left,
        .right {
            width: 100%;
            height: 100%;
            @include center();
            text-align: justify;
            font-family: 'Roboto', sans-serif;
            font-size: 1.1em;
            overflow: hidden;
            z-index: 2;
        }

        .left {
            .content-animation-border {
                padding: 2px 2px 2px 0px;
                border-radius: 0px 5px 5px 0px;
                background: rgb(141, 186, 203);
                background: linear-gradient(90deg, rgba(141, 186, 203, 1) 0%, rgba(184, 221, 249, 1) 12%, rgba(77, 128, 167, 1) 29%, rgba(249, 251, 252, 1) 53%, rgba(162, 199, 240, 1) 73%, rgba(138, 185, 237, 1) 85%, rgba(249, 251, 252, 1) 97%, rgba(255, 255, 255, 1) 100%);
                background-size: 400% 400%;
                animation: animation-background-border 15s ease infinite;

                @keyframes animation-background-border {
                    0% {
                        background-position: 50% 50%;
                    }

                    40% {
                        background-position: 100% 50%;
                    }

                    60% {
                        background-position: 0% 50%;
                    }

                    100% {
                        background-position: 50% 50%;
                    }
                }

                .content {
                    padding: 100px 150px 100px 50px;
                    border-radius: 0px 5px 5px 0px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    background-color: rgb(255, 255, 255);

                    .title {
                        font-family: 'Mukta', sans-serif;
                        color: rgb(98, 164, 215);
                        font-size: calc(0.7vw + 9px);
                        font-weight: bold;
                        margin-bottom: 50px;
                    }

                    .normal-text {

                        font-size: calc(0.5vw + 6px);
                        letter-spacing: 0.05em;

                        font-family: 'Mukta', sans-serif;

                    }

                    flex-direction: column;
                    grid-column: 1;
                    align-items: baseline;

                }
            }
        }

        .right {
            padding: 10%;
            grid-column: 2;

            .alertas2 {
                border: 1px solid rgb(195, 195, 195);
                background-color: white;
                padding: 10px;
                box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.116);
                border-radius: 10px;
                width: auto;
                height: 90%;
            }
        }

        .bloque-patron {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 60%;
            z-index: 1;
            height: 60%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.17'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
    }


    //section3
    .section_3 {
        position: relative;
        width: 99vw;
        height: 100vh;
        background-color: white;
        display: grid;
        grid-template-rows: 30% 70%;
        border-top: 5px dashed rgb(108, 161, 202);
        padding-top: 2px;
        z-index: 2;



        .line {
            width: 100%;
            height: 2px;
            background-color: rgb(240, 240, 240);
            border: 2px dashed rgb(108, 161, 202);
        }

        .content-alertas {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .left,
            .right,
            .center {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;

                .container {
                    z-index: 2;
                    position: relative;
                    border-radius: 5px;
                    width: 80%;
                    min-height: 70%;
                    height: min-content;

                    background-color: rgb(243, 243, 243);
                    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.111);
                    display: flex;
                    flex-direction: column;

                    .imagen_container {
                        width: 100%;
                        height: 50%;
                        border-radius: 5px;
                    }

                    .container-content {
                        border-top: 2px dashed rgb(108, 161, 202);
                        padding: 20px;

                        .title {
                            color: rgb(98, 164, 215);
                            font-size: calc(0.7vw + 9px);
                        }

                        .content {
                            margin-top: 50px;
                            font-size: calc(0.5vw + 6px);
                            letter-spacing: 0.05em;
                            font-family: 'Mukta', sans-serif;
                        }
                    }

                    .circle {
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        bottom: -50px;
                        right: -50px;
                        z-index: 2;
                        border-radius: 50%;
                        background: rgb(249, 251, 252);
                        background: linear-gradient(137deg, rgba(249, 251, 252, 1) 0%, rgba(233, 242, 250, 1) 28%, rgba(162, 199, 240, 1) 61%, rgba(138, 185, 237, 1) 94%, rgba(147, 191, 238, 1) 100%);
                    }
                }
            }
        }
    }


    //section4
    .section_4 {
        position: relative;
        width: 99vw;
        height: 100vh;
        background-color: white;
        background-image: url("../../../assets/background_section4.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 20% 80%;

        .left {
            overflow: hidden;
            grid-column: 1;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .alerta-img {
                width: auto;
                height: 90%;
                border-radius: 84% 16% 72% 28% / 16% 84% 16% 84%;
            }
        }

        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 2;
            width: 100%;
            height: 100%;

            .lista {
                display: flex;
                justify-content: center;
                position: relative;
                gap: 50px;
                flex-direction: column;

                .detalle1-image {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    top: -100px;
                    right: -100px;
                }

                .elemento {
                    width: 100%;
                    text-wrap: nowrap;
                    display: flex;
                    align-items: center;
                    min-width: min-content;
                    background-color: rgb(217, 232, 239);
                    border-radius: 5px;
                    padding: 10px 20px;


                    .option {
                        width: 100%;
                        margin-left: 20px;
                        font-size: 1.3em;
                        color: rgb(37, 106, 175);
                    }
                }
            }

        }


    }



    //section5
    .section_5 {
        // border-top: 2px dashed rgb(108, 161, 202);
        position: relative;
        width: 100vw;
        height: 120vh;
        background-color: rgb(53, 123, 181);
        z-index: 2;
        display: grid;
        justify-content: center;
        grid-template-rows: 30% 70%;

        .title_section {
            color: white;
        }

        .container-center {
            margin: 0px auto 10% auto;
            width: 70%;
            height: 90%;
            // border: 2px solid rgb(190, 190, 190);
            background-color: white;
            display: grid;
            grid-template-columns: 1fr 1fr;


            .ventaja {
                border: 5px solid rgb(53, 123, 181);
                padding: 20px;
                width: 100%;
                height: 100%;
                transition: 0.2 all;
                @include center();
                flex-direction: column;

                .title {
                    color: rgb(98, 164, 215);
                    font-size: calc(0.7vw + 9px);
                    margin-bottom: 25px;
                }

                .content {
                    font-size: calc(0.5vw + 6px);
                    letter-spacing: 0.05em;
                    text-align: center;
                }

                &:hover {
                    transition: 0.5s all;
                    transform: scale(1.01);
                    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.071);
                }
            }

            .container-center_left {
                grid-column: 1;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;

                .ventaja:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1;
                    // background-color: #1D2C40;
                    color: black;
                }

                .ventaja:nth-child(2) {
                    grid-column: 1;
                    grid-row: 2;
                    // background-color: #556273;
                    color: black;
                }
            }

            .container-center_right {
                grid-column: 2;
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;

                .ventaja:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1;

                    // background-color: #BACDD9;
                }

                .ventaja:nth-child(2) {
                    grid-column: 1;
                    grid-row: 2;
                    // background-color: #F2F2F2;
                }

                .ventaja:nth-child(3) {
                    grid-column: 1;
                    grid-row: 3;
                    // background-color: #0D0D0D;
                    color: black;
                }
            }
        }

    }


    //section6
    .section_6 {
        position: relative;
        width: 100vw;
        min-height: 100vh;
        height: min-content;
        background-color: white;
        background-image: url("../../../assets/background_section6.svg");
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% 40% 40%;
        align-items: center;
        gap: 20px;



        .container-primary {
            // grid-column: 1;
            grid-row: 2;
            margin: 0px auto;
            width: 70%;
            height: min-content;
            border-radius: 20px;
            border: 1px solid rgb(236, 236, 236);
            background-color: white;
            box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.071);
            position: relative;
            padding: 50px;
            max-width: 700px;

            .title {
                color: rgb(98, 164, 215);
                font-weight: bold;
                font-size: calc(0.6vw + 8px);
                margin-bottom: 20px;

                .schneider {
                    color: #3DCD58;
                }

                .automation1 {
                    color: #f7901e;
                }

                .automation2 {
                    color: #445C6E;
                }

                .automation3 {
                    color: #8cc63f;
                }
            }

            img {
                height: 60px;
                margin-bottom: 20px;
            }

            .content {
                font-size: calc(0.5vw + 6px);
                letter-spacing: 0.05em;
            }

            // .marca {
            //     position: absolute;
            //     border-radius: 5px;
            //     height: 90px;
            //     width: auto;
            //     top: -50px;
            //     left: -90px;
            //     padding: 20px;
            //     background-color: white;

            //     .content-marca {
            //         position: relative;
            //         width: 100%;
            //         height: 100%;
            //         border-radius: 5px;

            //         img {
            //             width: 100%;
            //             height: 100%;
            //             border-radius: 5px;
            //         }
            //     }
            // }
        }

        .container-primary:nth-child(4) {
            grid-row: 3;
            grid-column: 1/4;
            margin: auto;
        }
    }


    //section 7
    .section_7 {
        position: relative;
        width: 100vw;
        height: 300px;
        background-color: rgb(243, 243, 243);
        // background-color: rgb(53, 123, 181);
        // border-top: 5px dashed rgb(108, 161, 202);
        z-index: 2;
        @include center();

        .center {
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 200px;

            img {
                filter: grayscale(1);
                width: 20%;
                height: auto;
                max-width: 150px;
                max-height: 150px;
            }

            img:nth-child(2) {
                width: 23%;
                height: auto;
                max-width: 150px;
                max-height: 150px;
            }

        }

    }


    .section_8 {
        position: relative;
        width: 100vw;
        min-height: 30vw;
        height: max-content;
        overflow: hidden;
        padding: 50px 0px 0px 0px;
        background-color: rgb(243, 243, 243);
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;

        .title_section {
            grid-column: 1;
            width: 100vw;
            height: 100%;
            grid-row: 1;
        }

        .formulario {
            border-radius: 5px;
            width: 100vw;
            height: 100%;
            padding: 20px 20%;
            margin: auto;
            grid-column: 1;
            grid-row: 2;
            background-color: #333333;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .left {
                border-radius: 5px 0px 0px 5px;
                // background-color: rgba(255, 255, 255, 0.098);
                padding: 20px;
                .campo {
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    label {
                        color: white;
                        font-size: calc(0.5vw + 6px);
                        margin-bottom: 10px;
                    }
                    input {
                        margin-top: 5px;
                        width: 90%;
                        height: 35px;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        padding: 5px;
                    }
                    textarea {
                        margin-top: 5px;
                        padding: 5px;
                        width: 90%;
                        height: 200px;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                    }
                }
            }

            .right {
                border-radius: 0px 5px 5px 10%;
                padding: 20px;
                // background-color: rgba(255, 255, 255, 0.394);
            }
        }
    }
}