<div class="primary-container">
    <div class="section_1_background">
        <div class="left">
            <div class="title">Controler Alert Systems</div>
            <div class="encabezado">Herramientas especializadas en alertas personalizadas.</div>
            <div class="toAction">Conocer producto</div>
            <div class="question">Tienes una pregunta? <span class="toForm">Get Free Form</span></div>
        </div>
        <div class="right">
            <img src="./assets/alertas.jpg" alt="alerta">
        </div>
        <div class="center_bottom">
            <div class="sistema">
                <!-- <div class="title">SMS</div> -->
                <img src="./assets/sms.svg" alt="" class="logo">
            </div>
            <div class="sistema">
                <!-- <div class="title">Correo Electrónico</div> -->
                <img src="./assets/mark_email.svg" alt="" class="logo">
            </div>
            <div class="sistema">
                <!-- <div class="title">Notificaciones</div> -->
                <img src="./assets/notification.svg" alt="" class="logo">
            </div>
            <div class="sistema">
                <!-- <div class="title">Torreta Semáforo</div> -->
                <img src="./assets/semaphore.svg" alt="" class="logo">
            </div>
            <div class="sistema">
                <!-- <div class="title">Buzzer</div> -->
                <img src="./assets/buzzer.svg" alt="" class="logo">
            </div>
            <div class="sistema">
                <!-- <div class="title">Indicadores</div> -->
                <img src="./assets/indicator.svg" alt="" class="logo">
            </div>
            <div class="sistema">
                <!-- <div class="title">Hardware personalizado</div> -->
                <img src="./assets/memory.svg" alt="" class="logo">
            </div>
        </div>
    </div>




    <!-- En esta seccion se coloca la introduccion, viewport de 80vh -->
    <div class="section_1">
        <!-- Este separador es la diagonal de section_1 -->
        <nav>
            <div class="left">
                <img src="./assets/logo.png">
            </div>
            <div class="right">
                <div class="simple_button">Tienda</div>
                <div class="simple_button">Acerca de nosotros</div>
                <div class="btn-contact">Contactanos!</div>
            </div>
        </nav>
    </div>






    <!-- En esta seccion se coloca la introduccion, viewport de 100vh -->
    <div class="section_2">
        <div class="bloque-patron"></div>
        <div class="separador_1"></div>
        <!-- Este separador es la diagonal de section_2 -->
        <div class="left">
            <div class="content-animation-border">
                <div class="content">
                    <span class="header-title">Sistemas a la medida</span>
                    <span class="title">
                        Sistemas de alertas
                    </span>
                    <span class="normal-text">Los <span class="mark_type1">sistemas de alerta</span> son herramientas
                        esenciales para informar eventos de interés, ya que estos pueden
                        estar relacionados con pérdidas en la optimización de producción, problemas de seguridad o
                        necesitar
                        atención especial. Con el propósito de prevenir y abordar estos eventos críticos, <span
                            class="controler-text"> Controler Alert Systems </span> te
                        ofrece las soluciones de alerta más personalizadas para tu situación.</span>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="./assets/mobile2.png" alt="" class="alertas2">
        </div>
    </div>






    <!-- En esta seccion se coloca las opciones de alertado, viewport de 100vh -->
    <div class="section_3">
        <section class="title_section">
            <span class="title">Servicios desarrollados</span>
            <br>
            <div class="subtitle">A la medida de cada requisito</div>
        </section>
        <div class="line"></div>
        <div class="content-alertas">
            <div class="left">
                <div class="container">
                    <!-- <div class="circle"></div> -->
                    <img src="./assets/industria.jpg" alt="Industria" class="imagen_container">
                    <div class="container-content">
                        <span class="title">Alertado Industrial</span>
                        <br>
                        <br>
                        <span class="content">
                            Implementa sistemas de alerta industrial para supervisar los procesos de producción o
                            eventos críticos en tu planta industrial. Optimiza la producción y establece límites de
                            seguridad para los operadores.
                        </span>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="container">
                    <img src="./assets/comercio.jpg" alt="Industria" class="imagen_container">
                    <div class="container-content">
                        <span class="title">Alertado Comercial</span>
                        <br>
                        <br>
                        <span class="content">
                            Proporcionamos sistemas de alertas personalizadas para una amplia variedad de aplicaciones,
                            que incluyen notificaciones mediante SMS y correo electrónico. Estas herramientas de
                            publicidad representan una forma efectiva de acercarte a tus clientes locales, fortaleciendo
                            así la conexión con tu audiencia.
                        </span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <img src="./assets/seguridad.jpg" alt="Industria" class="imagen_container">
                    <div class="container-content">
                        <span class="title">Alertado de Seguridad</span>
                        <br>
                        <br>
                        <span class="content">
                            Desarrollamos sistemas de seguridad adaptados a cualquier escenario, diseñando soluciones
                            personalizadas para mantener alertas en situaciones de peligro o vulnerabilidad. Nuestro
                            sistema de alertas garantiza una respuesta instantánea ante estas circunstancias,
                            notificando de inmediato a la persona de interés correspondiente.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- En esta seccion se coloca las caracteristicas del servicios, viewport de 100vh -->
    <div class="section_4">
        <section class="title_section">
            <span class="title">Conoce los beneficios de nuestro servicio</span>
            <br>
            <div class="subtitle">Los limites estan en la imaginacion</div>
        </section>
        <div class="left">
            <img src="./assets/alerta-reloj.jpg" alt="" class="alerta-img">
        </div>
        <div class="right">
            <div class="lista">
                <img src="./assets/detalle1.png" alt="decorador-verde" class="detalle1-image">
                <div class="elemento">
                    <object type="image/svg+xml" data="./assets/check.svg" alt="" class="right-img"></object>
                    <span class="option">Personaliza tus alertas mediante interfaces gráficas y sistemas de alerta
                        personalizados.</span>
                </div>
                <div class="elemento">
                    <object type="image/svg+xml" data="./assets/check.svg" class="right-img"></object>
                    <span class="option">Desarrollo y documentación de API para todos los sistemas realizados.</span>
                </div>
                <div class="elemento">
                    <object type="image/svg+xml" data="./assets/check.svg" alt="" class="right-img"></object>
                    <span class="option">Sistemas diseñados a medida para los sistemas bajo monitoreo.</span>
                </div>
                <div class="elemento">
                    <object type="image/svg+xml" data="./assets/check.svg" alt="" class="right-img"></object>
                    <span class="option">Soporte especializado.</span>
                </div>
                <div class="elemento">
                    <object type="image/svg+xml" data="./assets/check.svg" alt="" class="right-img"></object>
                    <span class="option">Diversidad de sistemas de alerta.</span>
                </div>
                <div class="elemento">
                    <object type="image/svg+xml" data="./assets/check.svg" alt="" class="right-img"></object>
                    <span class="option">Servicio de instalación.</span>
                </div>
                <div class="elemento">
                    <object type="image/svg+xml" data="./assets/check.svg" class="right-img"></object>
                    <span class="option">Integración con software industrial.</span>
                </div>
            </div>
        </div>
    </div>




    <!-- En esta seccion se coloca las ventajas, viewport de 100vh -->
    <div class="section_5">

        <!-- <img src="./assets/clock.svg" alt="Clock" class="clock">
        <img src="./assets/clock.svg" alt="Clock" class="clock"> -->
        <section class="title_section">
            <span class="title">Adaptacion en multiples productos de software</span>
            <br>
            <div class="subtitle">Los limites estan en la imaginacion</div>
        </section>
        <div class="container-center">
            <div class="container-center_left">
                <div class="ventaja">
                    <div class="title">
                        Personalización Avanzada
                    </div>
                    <div class="content">
                        Herramientas especializadas que permiten una personalización avanzada en la configuración de
                        alertas, adaptándose a las necesidades específicas de cada usuario o escenario.
                    </div>
                </div>
                <div class="ventaja">
                    <div class="title">Amplia Variedad de Canales</div>
                    <div class="content">
                        Integración de múltiples canales de alerta, como SMS, correo, notificaciones y hardware
                        personalizado para asegurar entregas efectivas según preferencias del usuario.
                    </div>
                </div>
            </div>
            <div class="container-center_right">
                <div class="ventaja">
                    <div class="title">
                        Optimización de Producción
                    </div>
                    <div class="content">

                        En el sector industrial, la implementación de sistemas de alerta optimiza la producción al
                        supervisar procesos y establecer límites de seguridad para los operadores.
                    </div>
                </div>
                <div class="ventaja">
                    <div class="title">
                        Comunicación Efectiva con Clientes
                    </div>
                    <div class="content">

                        En el ámbito comercial, las alertas personalizadas a través de SMS y correo electrónico no solo
                        informan, sino que también son herramientas efectivas de publicidad.
                    </div>
                </div>
                <div class="ventaja">
                    <div class="title">Respuesta Inmediata en Situaciones de Seguridad</div>
                    <div class="content">

                        Controler Alert Systems proporciona soluciones de seguridad adaptables para alertas instantáneas
                        en situaciones de peligro. Notifica de inmediato a las personas relevantes para garantizar una
                        respuesta rápida y efectiva.
                    </div>
                </div>
            </div>
        </div>
    </div>


   


    <!-- En esta seccion se coloca las integraciones, viewport de 100vh -->
    <div class="section_6">
        <section class="title_section">
            <span class="title">Adaptacion en multiples productos de software</span>
            <br>
            <br>
            <div class="subtitle">Los limites estan en la imaginacion</div>
        </section>
        <div class="container-primary">
            <div class="left">
                <span class="header-title"> Schneider Electrics </span>
                <br>
                <div class="title">
                    Integraciones con Schneider Power Monitoring Expert.
                </div>
                <div class="normal-text ">
                    Nuestra integración con Schneider Power Monitoring Expert permite una supervisión exhaustiva y en
                    tiempo
                    real de los datos eléctricos, energéticos, gas, agua y un sistema de reportes.
                </div>
                <div class="toAction">Conocer Schneider Electric</div>
            </div>
            <div class="right">
                <div class="content"  style="background: rgb(249, 251, 252);
                background: linear-gradient(137deg, rgba(249, 251, 252, 1) 0%, rgba(233, 242, 250, 1) 28%, rgba(181, 215, 198, 1) 61%, rgba(105, 179, 140, 1) 94%, rgba(104, 181, 141, 1) 100%);">
                    <img src="./assets/SE.png">
                </div>
            </div>
        </div>
        <div class="container-primary">
            <div class="right">
            <div class="content"  style="background: rgb(249,251,252);
            background: linear-gradient(137deg, rgba(249,251,252,1) 0%, rgba(233,242,250,1) 28%, rgba(242,207,165,1) 61%, rgba(254,199,135,1) 94%, rgba(255,189,111,1) 100%);">
                <img src="./assets/inductive-automation-logo.b565238b0b65.png">
            </div>
            </div>
            <div class="left">
                <span class="header-title">Inductive Automation</span>
                <div class="title">
                    Integraciones con Ignition
                </div>
                <div class="normal-text">
                    La integración de Controler con Ignition mejora la eficiencia en entornos industriales al combinar
                    sistemas de alerta y capacidades de gestión, proporcionando así una experiencia completa para el
                    usuario.
                </div>
                <div class="toAction">Inductive Automation</div>
            </div>
        </div>

        <!-- <div class="container-primary">
            <div class="left">
                <div class="title">
                    Desarrollo de APIs y Conectividad
                </div>
                <div class="normal-text">
                    Controler simplifica la creación de APIs en sus productos, facilitando la adaptabilidad con
                    terceros.
                    Las APIs bien documentadas permiten una integración fluida y colaboración efectiva con
                    desarrolladores
                    externos.
                </div>
            </div>
            <div class="right">

            </div>

        </div> -->
    </div>
     <!-- En esta seccion se coloca las integraciones, viewport de 100vh -->
    <div class="section_7">
        <section class="title_section">
            <span class="title">Historias de exito</span>
            <br>
            <div class="subtitle">Contamos con una amplia historia dentro del mercado</div>
        </section>
        <div class="center">
            <img src="./assets/elopak.png" alt="Elopak" class="elopak">
            <img src="./assets/gst.png" alt="GST" class="gst">
            <img src="./assets/montiac.png" alt="Montiac" class="montiac">
        </div>
    </div>

    <!-- En esta seccion se coloca las integraciones, viewport de 100vh -->
    <div class="section_8">
        <section class="title_section">
            <span class="title">¡Cuéntanos tu problema con las alertas para poder brindarte una solución!</span>
            <br>
            <div class="subtitle">Contactanos</div>
        </section>
        <div class="content">
            <div class="category"></div>
            <div class="category"></div>
            <div class="category"></div>
            <div class="category"></div>
        </div>
        <!-- <div class="formulario">
            <div class="left">
                <div class="campo">
                    <label>Correo Electronico</label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="campo">
                    <label>Nombre</label>

                    <input type="text" name="name" id="name">
                </div>
                <div class="campo">
                    <label>Asunto</label>
                    <input type="text" name="subject" id="subject">
                </div>
                <div class="campo">
                    <label>Mensaje</label>
                    <textarea type="text" name="message" id="message" placeholder=""></textarea>
                </div>

            </div>
            <div class="right">

            </div>
        </div> -->
       
    </div>
</div>